body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1c40f;
    font-family: 'Montserrat', sans-serif;
    }
    .counter-container {
    text-align: center;
    }
    #value {
    font-size: 10rem;
    font-weight: bold;
    }
    .btn {
    font-size: 2rem;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border: 2px solid black;
    background-color: transparent;
    }
    